:root {
	/* color pallete from https://github.com/dracula/dracula-theme */
	--col-pink: #ff79c6;
	--col-red: #ff5555;
	--col-orange: #ffb86c;
	--col-yellow: #f1fa8c;
	--col-green: #50fa7b;
	--col-blue: #8be9fd;
	--col-purple: #bd93f9;
	--col-black: #282a36;
	--col-grey: #6272a4;
}

html {
	box-sizing: border-box;
	position: static;
	height: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	box-sizing: inherit;
	position: inherit;
	height: inherit;
	margin: 0px;
	background: var(--col-black);
	padding: 10px;
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	line-height: 1.5em;
	overflow: hidden;
	overflow-wrap: break-word;
}

#border {
	box-sizing: inherit;
	position: inherit;
	height: 100%;
	padding: 15px 20px;
	border: 2px solid var(--col-grey);
	border-radius: .15rem;
	overflow-y: auto;
	scrollbar-width: none;
	/* breaks spaces, not words */
	animation: show 2s steps(60, start);
}

#border::-webkit-scrollbar {
	display: none;
}


@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

::selection {
	color: var(--col-black);
	background-color: var(--col-purple);
}

::-moz-selection {
	color: var(--col-black);
	background-color: var(--col-purple);
}

/* entire active area */
#command {
	/* breaks word, not space */
	margin-top: -2px;
	word-break: break-all;
}

#hiddeninput {
	opacity: 0;
	position: absolute;
}

#cmdprompt {
	color: var(--col-pink);
}

#terminal {
	overflow-x: hidden;
	color: var(--col-blue);
}

#textbox {
	color: var(--col-purple);
	overflow-x: hidden;
}

#cursor {
	font-size: 12px;
	color: var(--col-purple);
	background-color: var(--col-purple);
	position: relative;
	opacity: 1;
	height: 1.5em;
	width: 9.64px;
	max-width: 9.64px;
	transform: translateY(3.5px);
	overflow: hidden;
	text-indent: -5px;
	display: inline-block;
	text-decoration: blink;
	animation: blinker 1s steps(2, start) infinite;
}

@keyframes blinker {
	to {
		visibility: hidden;
	}
}

p {
	margin: 0;
	white-space: break-spaces;
}

ul {
	/* justify-items not working */
	justify-items: start;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

li {
	list-style-type: none;
}

.banner {
	text-shadow: 0 0 2px #bd93f9dd;
	font-size: 10px;
	line-height: 1.2;
	display: block;
}

.command {
	color: var(--col-green);
	text-shadow: 0 0 4px var(--col-green);
}

.enteredCommand {
	word-break: break-all;
}

.error {
	color: var(--col-red);
}

.folder {
	color: var(--col-yellow);
}

.rainbow {
	margin-right: -40px;
	background: linear-gradient(120deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

a {
	color: var(--col-purple);
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
	color: var(--col-pink);
}